@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* General Syle stuff */
/* Light pink rgb(255, 153, 184)
   Dark pink rgb(255, 99, 146)
   White rgb(245, 243, 245)
   Black rgb(47, 47, 47)
   Ligher Blue rgb(87, 108, 168)
   Darker Blue rgb(39, 70, 144)*/
header{
    background-color: rgb(39, 70, 144);
    color: rgb(245, 243, 245);
}
main {
    background-color: rgb(255, 99, 146);
    color: rgb(245, 243, 245);
    font-family: "Inter", sans-serif;
    padding: 15px;
}
nav {
    display: flex;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    padding: 15px;
}

nav a {
    background-color: rgb(87, 108, 168);
    color: rgb(245, 243, 245);
    padding: 25px;
    flex: 1;
    text-align: center;
    text-decoration: none;

}
h1 {
    font-family: "Noto Serif", serif;
    color: rgb(245, 243, 245);
}

nav a:hover {
    background-color: rgb(255, 99, 146);
    /* color: rgb(113, 128, 172); */
    /* color: rgb(0, 165, 224); */
    /* color: rgb(137, 161, 239); */
    padding: 25px;
}

footer {
    background-color: rgb(87, 108, 168);
    color:rgb(245, 243, 245);
    padding: 10px 10px;
    font-family: "Noto Serif", serif;

}

footer a:hover {
    background-color: rgb(255, 153, 184);
    color: rgb(245, 243, 245);
    padding: 5px;
}
/* Style Code for Home */
.home-main {
    background-color: rgb(39, 70, 144);
}

.important-sleep {
    background-color: rgb(87, 108, 168);
    padding: 5px 15px;
    /* margin-bottom: 0 auto; FIX THIS??? MAKE A SPACE BETWEEN THEM */
}

.purpose {
    background-color: rgb(255, 153, 184);
    padding: 5px 15px;
}

/* Style Code for Info page */

.info-page {
    background-color: rgb(39, 70, 144);
}

.sleep-cycles {
    background-color:rgb(255, 153, 184);
    padding: 5px 15px;
}

.adequate-time {
    background-color: rgb(87, 108, 168);
    padding: 5px 15px;
}

.sleep-disorders {
    background-color: rgb(255, 99, 146);
    padding: 5px 15px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgb(245, 243, 245);
    color: rgb(47, 47, 47);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: rgb(47, 47, 47);
    color: rgb(245, 243, 245);
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(245, 243, 245);
    color: rgb(47, 47, 47);
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    
    font-size: 13px;
    color: rgb(47, 47, 47);
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }


  /* Style Code for Resources */
.resources {
    background-color: rgb(39, 70, 144);
    padding: 5px 15px;
}

.relax {
    background-color: rgb(255, 153, 184);
    padding: 5px 15px;
}

.track {
    background-color:rgb(87, 108, 168);
    padding: 5px 15px;
}
.pcp {
    background-color: rgb(87, 108, 168);
    padding: 5px 15px;
}

  /* Style Code for Volunteer */
.volunteer {
    background-color:rgb(39, 70, 144);
}
.sleep-hp {
    background-color:rgb(255, 153, 184);
    padding: 5px 15px;
}
.project-sleep {
    background-color:rgb(87, 108, 168);
    padding: 5px 15px;
}


  /* Style Code for Social */
.social {
    background-color: rgb(39, 70, 144);
}

.facebook {
    background-color:rgb(87, 108, 168);
    padding: 5px 15px;
}

.instagram {
    background-color: rgb(255, 99, 146);
    padding: 5px 15px;
}
  /* Style Code for Learn More */

  .learn-more {
    background-color: rgb(39, 70, 144);
  }

  .CDC {
    background-color: rgb(255, 153, 184);
    padding: 5px 15px;
  }

  .HP2030 {
    background-color: rgb(255, 99, 146);
    padding: 5px 15px;
  }

  .national-sleep {
    background-color: rgb(255, 153, 184);
    padding: 5px 15px;
  }

  .placeholder4 {
    background-color: rgb(255, 99, 146);
    padding: 5px 15px;
  }

  .placeholder5 {
    background-color: rgb(255, 153, 184);
    padding: 5px 15px;
  }

  .placeholder6 {
    background-color: rgb(255, 99, 146);
    padding: 5px 15px;
  }