@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* General Syle stuff */
/* Light pink rgb(255, 153, 184)
   Dark pink rgb(255, 99, 146)
   White rgb(245, 243, 245)
   Black rgb(47, 47, 47)
   Ligher Blue rgb(87, 108, 168)
   Darker Blue rgb(39, 70, 144)*/
body{
    background-color: rgb(39, 70, 144);
    color: rgb(245, 243, 245);
    margin: auto;
    display: grid;
  }

header{
    background-color: rgb(39, 70, 144);
    color: rgb(245, 243, 245);
    padding: 5px 15px;
}
main {
    background-color: rgb(255, 99, 146);
    color: rgb(47, 47, 47);
    font-family: "Inter", sans-serif;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* 
Need to make these links visible 
sub:a {
  color: rgb(245, 243, 245);
} */

nav {
    display: flex;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

nav a {
    background-color: rgb(87, 108, 168);
    color: rgb(245, 243, 245);
    padding: 25px;
    flex: 1;
    text-align: center;
    text-decoration: none;
    transition: font-size 0.5s;
}
h1 {
    font-family: "Noto Serif", serif;
}

h3 {
  font-family: "Noto Serif", serif;
}

nav a:hover, .menu-active {
    background-color: rgb(255, 99, 146);
    color: rgb(47, 47, 47);
    padding: 25px;
    font-size: 1.5rem;
}

footer {
    background-color: rgb(87, 108, 168);
    color:rgb(245, 243, 245);
    padding: 10px 10px;
    font-family: "Noto Serif", serif;

}

footer a:hover {
    background-color: rgb(255, 153, 184);
    color: rgb(47, 47, 47);
    padding: 5px;
}
/* Style Code for Home */
.home-main {
    display:grid;
    background-color: rgb(39, 70, 144);
    color:rgb(245, 243, 245);
    
}

.important-sleep {
    background-color: rgb(87, 108, 168);
    color:rgb(245, 243, 245);
    padding: 5px 15px;
    grid-column: 1/3;
}

.bullet-points {
    grid-column: 1/2;
}


.img-sub {
    grid-column: 1/3;
}

.purpose {
    background-color: rgb(255, 153, 184);
    color:rgb(47, 47, 47);
    padding: 5px 15px;
    grid-column: 1/3;
}

.bullet-points {
  grid-column: 1/2;
}

.book-bed {
  grid-column: 2/3;
  grid-row: 2/3;
}
/* THIS ISN'T WORKING */

/* Style Code for Info page */

.info-page {
    background-color: rgb(39, 70, 144);
    color:rgb(245, 243, 245);
    grid-template-columns: 3fr;
    grid-template-rows: 3fr;
}

.sleep-cycles {
    background-color:rgb(255, 153, 184);
    color: rgb(47, 47, 47);
    padding: 5px 15px;
    grid-column: 1/3;
}

.adequate-time {
    background-color: rgb(87, 108, 168);
    color:rgb(245, 243, 245);
    padding: 5px 15px;
    grid-column: 1/2;
}
/* 
.nsf-sd {
  border-color: black;
  border-width: 15px;
} */

.sleep-disorders {
    background-color: rgb(255, 99, 146);
    color: rgb(47, 47, 47);
    padding: 5px 15px;
    grid-column: 1/3;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgb(255, 153, 184);
    color: rgb(47, 47, 47);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover, .collapsible:hover::after {
    background-color: rgb(87, 108, 168);
    color: rgb(245, 243, 245);
    
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(39, 70, 144);
    color: rgb(245, 243, 245);
  }

  .collapsible:after {
    content: "+"; 
    font-size: 30px;
    color: rgb(47, 47, 47);
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "-";
    font-size: 40px;
    color: rgb(245, 243, 245);
  }

  /* Style Code for Resources */
.resources {
    background-color: rgb(39, 70, 144);
    color:rgb(245, 243, 245);
    padding: 5px 15px;
}

.relax {
    background-color: rgb(255, 153, 184);
    color: rgb(47, 47, 47);
    padding: 5px 15px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 0.5fr, 1fr, 0.5fr, 1fr, 0.5fr, 1fr, 0.5fr, 1fr, 0.5fr;
}

.relax h1{
  grid-column: 1/4;
}

.yoga-image {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 5px 25px 5px 5px;
  border: 10px solid rgb(39, 70, 144);
}

.yoga-text {
  grid-column: 2/4;
  grid-row: 2/3;
}

.yoga-sub {
  grid-column: 1/4;
  grid-row: 3/4;
}

.exercise-image {
  grid-column: 1/2;
  grid-row: 4/5;
  margin: 5px 25px 5px 5px;
  border: 10px solid rgb(39, 70, 144);
}

.exercise-text {
  grid-column: 2/4;
  grid-row: 4/5;
}

.exercise-sub{
  grid-column: 1/4;
  grid-row: 5/6
}

.meditation-image {
  grid-column: 1/2;
  grid-row: 6/7;
  margin: 5px 25px 5px 5px;
  border: 10px solid rgb(39, 70, 144);
}

.meditation-text {
  grid-column: 2/4;
  grid-row: 6/7;
}

.meditation-sub {
  grid-column: 1/4;
  grid-row: 7/8;
}

.music-image {
  grid-column: 1/2;
  grid-row: 8/9;
  margin: 5px 25px 5px 5px;
  border: 10px solid rgb(39, 70, 144);
}

.music-text {
  grid-column: 2/4;
  grid-row: 8/9;
}

.music-sub {
  grid-column: 1/2;
  grid-row: 9/10;
}


.track {
    background-color:rgb(87, 108, 168);
    color:rgb(245, 243, 245);
    padding: 5px 15px;
    grid-column: 1/3;
}
.pcp {
  background-color: rgb(255, 99, 146);
    color: rgb(47, 47, 47);
    padding: 5px 15px;
    grid-column: 1/3;
}

.stethescope-image {
  border: 10px solid rgb(255, 153, 184);
}

  /* Style Code for Volunteer */
.volunteer {
    background-color:rgb(39, 70, 144);
    color:rgb(245, 243, 245);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.sleep-hp {
    background-color:rgb(255, 153, 184);
    color: rgb(47, 47, 47);
    padding: 5px 15px;
    grid-column: 1/2;
    grid-row: 1/3;
}
.project-sleep {
    background-color:rgb(87, 108, 168);
    color:rgb(245, 243, 245);
    padding: 5px 15px;
    grid-column: 2/3;
    grid-row: 1/3;
}

.volunteer-button-p{
  background-color: rgb(87, 108, 168);
  border: none;
  grid-row: 2/3;
}

.volunteer-button-p a {
  border: 7.5px, solid, rgb(39, 70, 144);
  text-align: center;
  background-color: rgb(87, 108, 168); 
  font-size: 30px;
  font-family: "Noto Serif", serif;
  color: rgb(245, 243, 245);
  text-decoration: none;
  padding: 15px 15px;
  display: inline-block;
}

.volunteer-button-p a:hover {
  background-color: rgb(255, 99, 146);
  color: rgb(47, 47, 47);
}

.volunteer-button-s{
  background-color: rgb(255, 153, 184);
  border: none;
  grid-row: 2/3;
}

.volunteer-button-s a{
  border: 7.5px, solid, rgb(255, 99, 146);
  text-align: center;
  background-color: rgb(255, 153, 184);
  font-size: 30px;
  font-family: "Noto Serif", serif;
  color: rgb(47, 47, 47);
  text-decoration: none;
  padding: 15px 15px;
  display: inline-block;
}

.volunteer-button-s a:hover {
  background-color: rgb(39, 70, 144);
  color: rgb(245, 243, 245);
}

  /* Style Code for Learn More */

  .learn-more {
    background-color: rgb(39, 70, 144);
    color:rgb(245, 243, 245);
  }

  .CDC {
    background-color: rgb(255, 153, 184);
    color: rgb(47, 47, 47);
    padding: 5px 15px;
  }

  .HP2030 {
    background-color: rgb(255, 99, 146);
    color: rgb(47, 47, 47);
    padding: 5px 15px;
  }

  .national-sleep {
    background-color: rgb(255, 99, 146);
    color: rgb(47, 47, 47);
    padding: 5px 15px;
  }

  .placeholder4 {
    background-color: rgb(255, 153, 184);
    color: rgb(47, 47, 47);
    padding: 5px 15px;
  }

  .placeholder5 {
    background-color: rgb(255, 153, 184);
    color: rgb(47, 47, 47);
    padding: 5px 15px;
  }

  .placeholder6 {
    background-color: rgb(255, 99, 146);
    color: rgb(47, 47, 47);
    padding: 5px 15px;
  }